[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jmespath = "*"
numpy = "*"
requests = "*"
pandas = "*"
websockets = "*"
pyyaml = "*"
apscheduler = "*"
loguru = "*"
voluptuous = "*"
pytest = "*"
openpyxl = "*"
openai = "==0.28"
lz4 = "*"
pyzstd = "*"
blobfile = "*"
backoff = "*"
pydantic = "*"
mock = "*"
jieba = "*"
nltk = "*"
base = "*"
rouge = "*"
click = "*"
contextvars = "*"
starlette = "*"
python-dotenv = "*"
dashscope = "*"
websocket-client = "*"
volcengine = "*"
zhipuai = "*"

[dev-packages]

[requires]
python_version = "3.10"
